.page.theme_dark {
  --accent-color: #ff0070;
  --accent-heading-clr: #db00ff;
  --backg-image: url(../images/cover-image-dark.png);
  --backg-color: #000028;
  --backg-title: #ff0070;
  --clr-head-button: #FF0070;
  --main-font: 'IBM Plex mono', Courier, monospace;
  --cover-text: #000028;
  --main-bg: #000028;
  --color-txt: #f1b2ce;
  --color-title: #000028;
  --color-card-txt: #ff0070;
  --corner: #ff0070;
  --title-text: #000028;
  --hover: rgba(255, 0, 112, 0.4);
  --focus: #FF0070;
  --default: rgba(255, 0, 112, 1);
  --shadow-txt: #ff0070;
  --hover-txt: #f1b2ce;
  --focus-txt: #f1b2ce;
  --icon-rec: block;
}




@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --accent-heading-clr: #db00ff;
    --backg-image: url(../images/cover-image-dark.png);
    --backg-color: #000028;
    --backg-title: #ff0070;
    --main-font: 'IBM Plex mono', Courier, monospace;
    --cover-text: #000028;
    --main-bg: #000028;
    --color-txt: #f1b2ce;
    --color-title: #000028;
    --color-card-txt: #ff0070;
    --corner: #ff0070;
    --title-text: #000028;
    --hover: rgba(255, 0, 112, 0.4);
    --focus: #353430;
    --default: rgba(255, 0, 112, 1);
    --shadow-txt: #ff0070;
    --hover-txt: #f1b2ce;
    --focus-txt: #f1b2ce;
    --icon-rec: block;
  }

  
}


