.page.theme_light {
  --accent-color: #ff0070;
  --backg-image: url(../images/cover-image-light.png);
  --accent-heading-clr: #ffc2e6;
  --backg-color: #fff1f7;
  --main-bg: #fff1f7;
  --backg-title: #ff8dcb;
  --clr-head-button: #353430;
  --color-txt: #353430;
  --color-title: #353430;
  --color-card-txt: #353430;
  --corner: #353430;
  --title-text: #353430;
  --hover: rgba(50, 49, 45, 0.4);
  --focus: #353430;
  --default: #353430;
  --shadow-txt:#FF8DCB;
  --hover-txt: #353430;
  --focus-txt: #353430;
  --icon-rec: none;
}



@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff0070;
    --backg-image: url(../images/cover-image-light.png);
    --accent-heading-clr: #ffc2e6;
    --backg-color: #fff1f7;
    --main-bg: #fff1f7;
    --backg-title: #ff8dcb;
    --color-txt: #353430;
    --color-title: #353430;
    --color-card-txt: #353430;
    --corner: #353430;
    --title-text: #353430;
    --hover: rgba(50, 49, 45, 0.4);
    --focus: #ff0070;
    --default: #353430;
    --shadow-txt:#FF8DCB;
    --hover-txt: #353430;
    --focus-txt: #353430;
    --icon-rec: none;
  }
 
  
  
}
